<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Grond | Barad-dur</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/site.css">
    {% block extra_head %}
    {% end %}
</head>
<style>
.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}
</style>
<div id="layout" class="pure-g">
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="sidebar pure-u-1 pure-u-md-1-5">
            <div class="pure-menu custom-restricted-width">
                <span class="pure-menu-heading">Grond</span>
                <ul class="pure-menu-list">
                    {% for page in pages.iterkeys() %}
                        <li class="pure-menu-item"><a href="/{{ page }}" class="pure-menu-link">{{ page }}</a></li>
                    {% end %}
                </ul>

            </div>
        </div>
    </div>
    <div id="main" class="content pure-u-1 pure-u-md-4-5">
            {% block content %}
                <h1 class="content-subhead">Content not implemented.</h1>
            {% end %}
    </div>
    <div class="footer pure-u-1">
        Grond - <i>The earthquake buster</i> <a href="http://pyrocko.org" class="pure-button pure-button-primary" style="margin-left: 1em;">pyrocko.org</a>
    </div>
</div>
<script src="/css/ui.js"></script>
</html>
