{% extends "index.html" %}

{% block extra_head %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
{% end %}

{% block content %}
<header>
    <h1 class="content-subhead">Problem <i>{{ problem.name }}</i></h1>
    <p><span style="font-family: monospace;">{{ problem.__class__.__name__ }}</span> | <span style="font-family: monospace;">{{ problem.base_source.__class__.__name__ }}</span></p>
</header>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-1">
        <h2 class="content-subhead">Targets</h3>
        <p>Targets to optimize.</p>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <td></td>
                    <td>id</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tbody>
                {% for it, target in enumerate(problem.targets) %}
                    <tr{% if it % 2 == 1 %} class="pure-table-odd"{% end %}>
                        <td>{{ it+1 }}</td>
                        <td>{{ target.scene_id }}</td>
                        <td style="font-family: monospace;">{{ target.__class__.__name__ }}</td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2">
        <h2 class="content-subhead">Initial model</h3>
        <p>Initial at start of the optimization.</p>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <td>Parameter</td>
                    <td>Value</td>
                </tr>
            </thead>
            <tbody>
                {% for ip, key in enumerate(problem.base_source.keys()) %}
                    <tr{% if ip % 2 == 1 %} class="pure-table-odd"{% end %}>
                        <td style="font-family: monospace;">{{ key }}</td>
                        <td>{{ problem.base_source[key] }}</td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-2">
        <h2 class="content-subhead">Free Parameters</h2>
        <p>Ranges of free parameters.</p>
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <td></td>
                    <td>Parameter</td>
                    <td>Allowed Ranges</td>
                    <td>Unit</td>
                </tr>
            </thead>
            <tbody>
                {% for ip, param in enumerate(problem.parameters) %}
                    <tr{% if ip % 2 == 1 %} class="pure-table-odd"{% end %}>
                        <td>{{ ip+1 }}.</td>
                        <td style="font-family: monospace;">{{ param.name }}</td>
                        <td>{{ problem.ranges[param.name] }}</td>
                        <td>{{ param.unit }}</td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    <div class="pure-u-1">
        <h2 class="content-subhead">Map of initial model position</h2>
        <div id="initial_model_map" class="pure-u-1" style="min-height: 250px;">
            <script>
                var map = L.map('initial_model_map').setView(
                    [{{ problem.base_source["lat"] }}, {{ problem.base_source["lon"] }}], 5);
                L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                            maxZoom: 19,
                            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
                }).addTo(map);
                var marker = L.marker([{{ problem.base_source["lat"] }}, {{ problem.base_source["lon"] }}],
                {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 500
                }).addTo(map);
                marker.bindPopup("{{ problem.base_source["lat"] }}, {{ problem.base_source["lon"] }}<br>{{ problem.base_source["name"] }}")
            </script>
        </div>
    </div>
</div>
{% end %}
